<h1><%= @title %></h1>

Sign Up:
<form action="signup" method="post">
  <label for="">Username:</label>
  <input type="text" name="username" id="username" value="" />

  <label for="">Password:</label>
  <input type="text" name="password" id="password" value="" />
</form>
